streamlit==1.31.0
pandas
numpy
Pillow
scikit-learn
xgboost
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
transformers
timm
opencv-python-headless
joblib
plotly
matplotlib
seaborn
openpyxl
tensorflow
xgboost
scikit-learn
joblib
pillow
numpy
pandas